@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@700&family=Open+Sans&family=Poppins&display=swap');

:root {
    --primary: #00207e;
    --secondary: #ffffff;
    --dark: #000051;
    --light: 4948ae;
}

.index-page {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
}

.logo-header {
    width: 100%;
    background-color: var(--primary);
}

.logo-container {
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Newsreader', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-container {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 400px;
}

.tracking-container {
    padding: 20px;
    width: 300px;
    height: 400px;
}
